<h1 class="title animated jackInTheBox">{{ title }}</h1>
<ul class="animated flipInX" *ngIf="mode=='list'">
  <p *ngIf="tasks.length == 0">Nenhuma Tarefa Pendente!</p>
  <li *ngFor="let task of tasks">
    {{task.id}}.
    {{task.title}} - 
    <Button *ngIf="!task.done" (click)="markAsDone(task)">CONCLUIR</Button> |
    <Button *ngIf="task.done" (click)="markAsUndone(task)">REFAZER</Button> |
    <Button (click)="remove(task)">REMOVER</Button>
  </li>
</ul>

<div id="modal" *ngIf="mode=='add'" class="animated flipInX">
  <h1 class="text-center">Nova Tarefa</h1>
  <form [formGroup]="form">
      <fieldset>
        <label>Tarefa</label>
        <input 
          type="text" 
          placeholder="Título da tarefa" 
          maxlength="60" 
          formControlName="title">
          <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine"><h3 class="animated tada">Esse campo deve conter entre 3 e 6 caracteres</h3></small>
        <button [disabled]="form.invalid" (click)="add()" class="button"><i class="far fa-save"></i> Salvar</button>
      </fieldset>
  </form>
</div>

<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode=='list'">
  <i class="fas fa-plus-circle"></i>
  Nova Tarefa
</button>
<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <i class="fas fa-times-circle"></i>
  Cancelar
</button>